*{
    font-family: Consolas;
}

header {
    background-color: dodgerblue;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
}

p{
    text-align: center;
}

.content{
    padding-left: 200px;
}

.content input{
    padding: 10px;
}

a:link, a:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}