.content{
    margin: auto;
    padding: 50px;
}

.content > a {
    padding: 10px;
    margin: 20px;
    background-color: black;
    color: aliceblue;
}

.content > h3{
    text-align: center;
}

.content > img {
    max-height: 500px;
    padding-left: 300px;
}

.ATMbox{
    margin: 300px;
    font-size: 30px;
    border: 2px solid black;
}

.ATMbox input{
    text-align: center;
    font-size: 30px;
    margin-left: 150px;
}

.ATMbox td, .ATMbox th{
    padding-left: 150px;
    margin: auto;
    color: rebeccapurple;
}